{
  "parser": "babel-eslint",
  "extends": [ "airbnb-base" ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error",
    "max-len": ["error", 120],
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "array-bracket-spacing": ["error", "always", { "objectsInArrays": false, "arraysInArrays": false }]
  }
}
